body {
    background-color: #d3dfdd;
}
h1 {
    color: #ffffff;
}
div {
    background-color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
img {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: #9ab43b;
    margin-top: 1rem;
}
.inner-border {
    border: 100px;
}
h4 {
    color: #fbfbf7;
}
.sub-header {
    color: #bdce83;
    margin-bottom: 0;
}
hr.p1{
    border-top: 1px dotted #bdce83;
    margin-left: 0;
    margin-right: 0;
  }
p {
    color: black;
    text-align: left;
    margin-left: 0;
    margin-right: 30px;

}

.palsta {
    width: 600px;
    padding: 1rem;
    margin-left: 1rem;
}